<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>About Us</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/predict">Predict</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="about-us">
            <h2>Our Mission</h2>
            <p>At Financial Services, we are committed to providing top-notch financial solutions and advice to help our clients achieve their financial goals. Our mission is to deliver personalized, innovative, and effective strategies that drive financial success.</p>
        </section>
        <section class="our-values">
            <h2>Our Values</h2>
            <ul>
                <li><strong>Integrity:</strong> We uphold the highest standards of honesty and transparency in all our dealings.</li>
                <li><strong>Customer Focus:</strong> Our clients are at the center of everything we do. We strive to exceed their expectations.</li>
                <li><strong>Excellence:</strong> We are dedicated to delivering exceptional service and results.</li>
                <li><strong>Innovation:</strong> We embrace new ideas and technologies to stay ahead in the industry.</li>
            </ul>
        </section>
        <section class="our-team">
            <h2>Meet Our Team</h2>
            <div class="team-member">
                <img src="{{ url_for('static', filename='image.png') }}" alt="Team Member 1">
                <h3>Ashutosh Ranjan</h3>
                <p>Upcoming Data Scientist</p>
                <p>Ashutosh brings years of experience in financial management and strategic planning. he leads our team with a focus on delivering excellence and innovation.</p>
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='vaidik.png') }}" alt="Team Member 2">
                <h3>Vaidik Pandey</h3>
                <p>Upcoming Data Scientist</p>
                <p>Vaidik Pandey is an expert in Building Architetures and strategies. His dedication to understanding client needs and providing tailored advice sets him apart in the industry.</p>
            </div>
            <!-- Add more team members as needed -->
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Financial Services, Inc.</p>
    </footer>
</body>
</html>
