<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Financial Services</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Our Financial Services</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/predict">Predict</a></li>
                <li><a href="/ab">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="services">
            <h2>Our Services</h2>
            <div class="service-cards">
                <div class="service-card">
                    <h3>Financial API's</h3>
                    <p>Comprehensive financial API's tailored to your goals to identify the anomilies in Transaction. We analyze your financial data and create a report to help you achieve your objectives.</p>
                </div>
                <div class="service-card">
                    <h3>Fast Report Genration</h3>
                    <p>Professional Report to help you grow your wealth. We offer personalized Report</p>
                </div>
                <div class="service-card">
                    <h3>Cutting Edge Architecture</h3>
                    <p>Expert Architecture on Transactional Data for a secure and comfortable transaction . We help you build and manage your safe transaction to ensure financial stability.</p>
                </div>
                <div class="service-card">
                    <h3>Threat Spam Altert</h3>
                    <p>We have Advanced NLP Architecture to identify potential Spam and Threats to save you from Fraud Areas</p>
                </div>
            </div>
        </section>
        <section class="trust">
            <h2>Why You Can Trust Us</h2>
            <p>Our commitment to integrity, excellence, and customer satisfaction sets us apart. We are dedicated to providing you with reliable and effective financial solutions.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Financial Services, Inc.</p>
    </footer>
</body>
</html>
